.content{
    color: #ffffff;
    text-align: center;
}

a, a:visited{
    color: #ffffff;
    font-weight: 100;
}

.content h1{
    font-size: 20vh;
    margin-bottom: 2vh;
}

.content p{
    font-size: 5vh;
}