input, .category-header{
    font-weight: 200;
}

.hiddenMenuItem{
    font-weight: 800;
}



body, html
{
position: absolute;
    overflow:hidden;
}

body
{
    background: url("../content/images/bg.jpg") no-repeat center top fixed;
    background-size:cover;
}


#sitewrapper
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    min-width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
}


ul{
    padding: 0 20px;
}

.header
{
    background-image: linear-gradient(to top, #0084B6 0%, #009FDA 100%);
    text-align: center;
    height: 55px;
    color: #DDDDDD;
    border-bottom: solid;
    border-color: #0679A6;
    overflow:hidden;
    width: 100%;
}


.input
{
    width: 100%;
    padding: 0 35px;
    background-color: rgba(255,255,255,1);
    color: #939598;
    min-height: 30px;
    margin-top:15px;
    border-style: none;

}

.input.inputTaskCat
{
    margin-top:0;
    padding:12px 35px;
}

.input.inputTaskCat:after
{

}

.inputAtTask
{
    width:90%;
}


.ullist
{
    padding:0;
}

.ullist li:before
{
    font-family: 'FontAwesome', 'Helvetica Neue', arial, sans-serif;
    content: '\f00b';
    padding-right:15px;
    margin-left:-10px;
    font-size:12px;
}

.ullist li:last-of-type:before
{
    display: none;
}


.ullist li
{
    clear:both;
    margin-bottom:10px;
    background-color: #eeeeee;
    padding:10px 30px;
    color: #6D6E71;
    max-width: 250px;
    min-width:200px;
    border-bottom: #BBB solid 3px;

}

.ullist li.active
{
    background-color: #0088C7;
    border-color: #0067AC;
    color: #F1F2F2;
}

.ullist li:last-of-type
{
    padding: 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: #ccc;
    border-color: #aaa;
}

.ullist li a
{
    text-decoration:none;
    color:black;
}

.ullist .fa
{
    color:black;
    padding-top:4px;
}

/*.ullist li:last-of-type a{
    display: block;
    width: 100%;
    height: 100%;
}*/

.list-add{
    width: 250px;
    display: block;
}


.category
{
    margin-top:10px;
    padding-top:10px;
    list-style: none;
    color:#222;
}



.category-header.row
{
    height:42px;
}

.category-header.row section:nth-of-type(1)
{
    padding:10px 0 10px 0;
    margin-right:0;
    background-color:rgba(241, 242, 242, 0.95);
}

.category-header.row section:nth-of-type(2)
{
    padding:10px 0 10px 0;
    margin-left:0;
    margin-right:0;
    background-color:rgba(241, 242, 242, 0.95);
}

.category-header.row section:nth-of-type(3)
{
    z-index: 999;
    -ms-transform: skew(40deg,0deg); /* IE 9 */
    -webkit-transform: skew(40deg,0deg); /* Chrome, Safari, Opera */
    transform: skew(40deg,0deg);
    -ms-transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    padding:10px 0 10px 0;
    text-align: center;
    margin-left:-5px;
    background-color:rgba(188, 190, 192, 1);
}

.category-tasks
{
    background-color:rgba(241, 242, 242, 0.95);
}

.category-tasks ul
{
    list-style:none;
}


.tasks>ul>p
{
    padding-bottom:5px;
}

.high
{
    border-left:3px #EE595A solid;
}

.medium
{
    border-left:3px #F7941E solid;
}

.normal
{

    border-left:3px #F9ED32 solid;
}

.low
{
    border-left:3px #BCBEC0 solid;
}

.item
{

    margin:15px 0 0 0;
    background-color:rgba(255, 255, 255, 1);
    padding:0;

}

.item .row
{
    padding-top:7px;
}


.item .col{
    margin-bottom:0;
}




.item>li
{
    opacity:1;
    list-style-type: none;
}

.type
{
    margin-bottom:10px;
    padding:0;
}


.toggle
{
    position:absolute;
    left:10px;
    top:10px;
}

.button
{
    border:none;
    background:none;
}

a:visited
{
    color:black;
}



.activate{
    background-color:green;
}

.due-date
{
    font-size: 12px;
    color: #6D6E71;
    padding-bottom: 6px;
}

.due-date.due
{
    color: #EE595A;
}

.fa-circle-o
{
    padding-left:15px;
}

.fa:hover{
    cursor: pointer;
}

.row-due-date
{
    padding-top:5px;

}

.row-due-date.col{
    min-width:100%;
}

.menu-cross
{
   float:right;
}

.navitem
{
    clear:both;
    margin:0;
}

.list-remove{
    display: none;
}

.active .list-remove
{
    display: inline;
}

#gear-toggle
{
    position: absolute;
    top:10px;
    right:10px;
}

.fa-gear
{
}


.instellingen
{
    position: absolute;
    right:-200px;
}

.instellingen ul
{
    list-style: none;
    display:block;

}

.instellingen ul li
{
    margin-bottom:10px;
    background-color: white;
    padding:10px;
    text-align: center;

}

.instellingen ul li a
{
    text-decoration: none;
}

.hiddenMenuItem input
{
    color: #000000;
}



.inputInfo
{

    margin-bottom: 5px;
}


input[type="number"] {
    width:50px;
}




.item-completed
{
    color:white;
    margin-top:15px;
    background-color: #8DC63F;
    padding:0;
}

.item-completed .due-date{
    color: #E6E7E8;
}

.item-completed .fa{
    color: #E6E7E8;
}

.item-completed .fa:hover{
    color: #cccccc;
}

.item-completed .col{
    margin-bottom:0;
}




.row.row.rowTaskItems
{
    margin:0;
    padding:20px 10px 20px 20px;
    font-size:12px;
    background-color:#dddddd;
    color: #939598;

}


/* CSS Instellen achtergrond menu*/

.dropdown
{
    position: absolute;
    height: 17px;
    text-align:left;
}
.submenu
{
    background: #fff;
    position: absolute;
    top: -5px;
    left: -105px;
    z-index: 100;
    width: 135px;
    display: none;
    padding: 50px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a
{
    color: #555555;
    display: block;
    font-family: arial, sans-serif;
    font-weight: bold;
    padding: 6px 0 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover
{
    background:#0088C7;
    color: #FFFFFF;
    text-decoration: none;
}
a.tandwiel
{

    position:relative;
    z-index: 110;
    display: block;
    height: 28px;
    text-decoration: none;
    right:0;
    cursor:pointer;
}
.root
{
    list-style:none;
    margin:0;
    font-size: 11px;
    padding: 11px 0 0 0;
    border-top:solid #dedede;
}


.submenu h6
{
    color:dodgerblue;
    font-weight:800;
    padding-left:7px;
    margin-bottom: 5px;
}



#test
{
    margin-left:15px;
}

.pages-container .fa
{
    color:black;
}


.root {
    display: none;
}

.item-completed .fa{
    color: white;
}

.unskew
{
    transform:skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
}

.undo
{
    position:absolute;
    right:83px;
    top:10px;
}


.repeat
{
    position:absolute;
    right:47px;
    top:10px;
}

#logo {
    margin-right:30px;
}