* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width:100%;
    margin:0;
    padding:0;
}
.container {
    max-width:1140px;/* Mobile First, RWD */
    margin:0 auto;
    overflow: hidden;
    padding:0 1.075269%;
}

.container-fluid
{

    width:100%;
    overflow: hidden;
    padding:0;
    margin:0;
}

.row {
    margin:0;
}
.row .row {
    margin:0 -1.075269%;
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
.col {
    float:left;
    margin:0 1.075269% 2.150538%;
    overflow: hidden;
}

.hidden-large:after
{
    clear:both;
}

.col-hidden
{
    visibility: visible;
}


.tasks
{
    position: absolute;
}

#menu
{
    position:absolute;
}


/*
Mobile First
Breakpoints: 1200px, 992px, 768px, 480px, 320px
*/

/*
Extra Extra Small devices: 480 and down
Default in Mobile First Approaches
*/
@media (min-width:320px) {
    .col-xxs-12 {
        width: 97.84947%;
    }

    .col-xxs-11 {
        width: 89.51613%;
    }

    .col-xxs-10 {
        width: 81.1828%;
    }

    .col-xxs-9 {
        width: 72.84947%;
    }

    .col-xxs-8 {
        width: 64.51613%;
    }

    .col-xxs-7 {
        width: 56.1828%;
    }

    .col-xxs-6 {
        width: 47.84947%;
    }

    .col-xxs-5 {
        width: 39.51613%;
    }

    .col-xxs-4 {
        width: 31.1828%;
    }

    .col-xxs-3 {
        width: 22.84947%;
    }

    .col-xxs-2 {
        width: 14.51613%;
    }

    .col-xxs-1 {
        width: 6.1828%;
    }


    .tasks
    {

        position: absolute;
        left:20px;
    }

    #menu
    {
        position:absolute;
        min-width:250px;
        left:-300px;
    }


    .fa-circle-o
    {
        padding-left:7px;
    }

    .fa-check-circle
    {
        padding-left:7px;
    }


    .logo
    {
        margin-right:32px;
    }

    body
    {
        max-width:100%;
        overflow:hidden;
    }

}
    /*
    Extra Small Devices (phones): 480 and up
    */
    @media (min-width: 480px) {
        .col-xs-12 {
            width: 97.84947%;
        }

        .col-xs-11 {
            width: 89.51613%;
        }

        .col-xs-10 {
            width: 81.1828%;
        }

        .col-xs-9 {
            width: 72.84947%;
        }

        .col-xs-8 {
            width: 64.51613%;
        }

        .col-xs-7 {
            width: 56.1828%;
        }

        .col-xs-6 {
            width: 47.84947%;
        }

        .col-xs-5 {
            width: 39.51613%;
        }

        .col-xs-4 {
            width: 31.1828%;
        }

        .col-xs-3 {
            width: 22.84947%;
        }

        .col-xs-2 {
            width: 14.51613%;
        }

        .col-xs-1 {
            width: 6.1828%;
        }

        .col-xs-0
        {
            visibility: hidden;
            display: none !important;
        }

        .tasks
        {

            position: absolute;
            left:20px;
        }

        #menu
        {
            position:absolute;
            min-width:250px;
            left:-300px;
        }

        .fa-circle-o
        {
            padding-left:10px;
        }



        .fa-check-circle
        {
            padding-left:10px;
        }

        .logo
        {
           margin-right:32px;
        }

        body
        {
            max-width:100%;
            overflow:hidden;
        }

    }
    /*
    Small Devices (tablets): 768 and up
    */
    @media (min-width: 768px) {
        .col-sm-12 {
            width: 97.84947%;
        }

        .col-sm-11 {
            width: 89.51613%;
        }

        .col-sm-10 {
            width: 81.1828%;
        }

        .col-sm-9 {
            width: 72.84947%;
        }

        .col-sm-8 {
            width: 64.51613%;
        }

        .col-sm-7 {
            width: 56.1828%;
        }

        .col-sm-6 {
            width: 47.84947%;
        }

        .col-sm-5 {
            width: 39.51613%;
        }

        .col-sm-4 {
            width: 31.1828%;
        }

        .col-sm-3 {
            width: 22.84947%;
        }

        .col-sm-2 {
            width: 14.51613%;
        }

        .col-sm-1 {
            width: 6.1828%;
        }

        .tasks
        {
            position: absolute;
        }

        #menu
        {
            position:absolute;
            left:-300px;
            min-width:250px;
        }

        #menu a
        {
            text-decoration: none;
            color:#222222;
        }

        .fa-circle-o
        {
            padding-left:15px;
        }

        .fa-check-circle
        {
            padding-left:15px;
        }

        .logo
        {
            margin-right:32px;
        }

        body
        {
            max-width:100%;
            overflow:hidden;
        }

    }
    /*
    Medium Devices (small desktops and tablets): 992 and up
    */
    @media (min-width: 992px) {
        .col-md-12 {
            width: 97.84947%;
        }

        .col-md-11 {
            width: 89.51613%;
        }

        .col-md-10 {
            width: 81.1828%;
        }

        .col-md-9 {
            width: 72.84947%;
        }

        .col-md-8 {
            width: 64.51613%;
        }

        .col-md-7 {
            width: 56.1828%;
        }

        .col-md-6 {
            width: 47.84947%;
        }

        .col-md-5 {
            width: 39.51613%;
        }

        .col-md-4 {
            width: 31.1828%;
        }

        .col-md-3 {
            width: 22.84947%;
        }

        .col-md-2 {
            width: 14.51613%;
        }

        .col-md-1 {
            width: 6.1828%;
        }

        .hidden-large {
            display: none !important;
            visibility: hidden;
        }
        .tasks
        {
            margin-top:2px;
            position: absolute;
            left:310px;

        }

        #menu
        {
            left:5px;
            position:absolute;
        }

        .fa-circle-o
        {
            padding-left:15px;
        }

        .fa-check-circle
        {
            padding-left:15px;
        }

        .logo
        {
            margin-right:32px;
        }

        body
        {
            max-width:100%;
            overflow:hidden;
        }

    }
    /*
    Large Devices (Large desktops): 1200px and up
    */
    @media (min-width: 1200px) {
        .col-lg-12 {
            width: 97.84947%;
        }

        .col-lg-11 {
            width: 89.51613%;
        }

        .col-lg-10 {
            width: 81.1828%;
        }

        .col-lg-9 {
            width: 72.84947%;
        }

        .col-lg-8 {
            width: 64.51613%;
        }

        .col-lg-7 {
            width: 56.1828%;
        }

        .col-lg-6 {
            width: 47.84947%;
        }

        .col-lg-5 {
            width: 39.51613%;
        }

        .col-lg-4 {
            width: 31.1828%;
        }

        .col-lg-3 {
            width: 22.84947%;
        }

        .col-lg-2 {
            width: 14.51613%;
        }

        .col-lg-1 {
            width: 6.1828%;
        }

        .hidden-large {
            display: none !important;
            visibility: hidden;
        }



        .tasks
        {
            margin-top:2px;
            position: absolute;
        }

        #menu
        {
            left:5px;
            position:absolute;

        }

        .fa-circle-o
        {
            padding-left:30px;
        }


        .fa-check-circle
        {
            padding-left:30px;
        }

    }

@media (min-width: 1468px) {
    .col-xl-12 {
        width: 97.84947%;
    }

    .col-xl-11 {
        width: 89.51613%;
    }

    .col-xl-10 {
        width: 81.1828%;
    }

    .col-xl-9 {
        width: 72.84947%;
    }

    .col-xl-8 {
        width: 64.51613%;
    }

    .col-xl-7 {
        width: 56.1828%;
    }

    .col-xl-6 {
        width: 47.84947%;
    }

    .col-xl-5 {
        width: 39.51613%;
    }

    .col-xl-4 {
        width: 31.1828%;
    }

    .col-xl-3 {
        width: 22.84947%;
    }

    .col-xl-2 {
        width: 14.51613%;
    }

    .col-xl-1 {
        width: 6.1828%;
    }

    .hidden-large {
        display: none !important;
        visibility: hidden;
    }



    .tasks
    {
        margin-top:2px;
        position: absolute;
    }

    #menu
    {
        left:5px;
        position:absolute;

    }

    .fa-circle-o
    {
        padding-left:30px;
    }


    .fa-check-circle
    {
        padding-left:30px;
    }

}



